In [4]:
#Import LIbraries
import pandas as pd

In [13]:
#Read CSV
raw_data = pd.read_csv('video_game_sales.csv')
raw_data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
1,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
2,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
3,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
4,6,Tetris,GB,1989,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26

In [17]:
#Create Function 
def best_seller(df, agg_col): 
    """
    THIS FUNCTION CREATES A GROUPBY BY A USER-SPECIFIED COLUMN AND RETURNS THE SORTED DF.

    DF = A DATAFRAME YOU WOULD LIKE TO TRANSFORM.
    agg_col = WHAT COLUMN WOULD YOU LIKE TO PERFORM THE AGGREGATE ON? 
    """

    #RESET INDEX TO ALLOW FOR ILLOC
    best_seller_df = df.groupby('Platform')[agg_col].sum().reset_index()
    best_seller_df = best_seller_df.sort_values(agg_col, ascending=False)
    return best_seller_df

#Apply function to different regions
best_selling_na = best_seller(raw_data, "NA_Sales")
best_selling_eu = best_seller(raw_data, "EU_Sales")
best_selling_jp = best_seller(raw_data, "JP_Sales")

#Return a statement depicting the top genre
print("The best selling platform in NA is {}".format(best_selling_na.iloc[0,0]))
print("The best selling platform in EU is {}".format(best_selling_eu.iloc[0,0]))
print("The best selling platform in JP is {}".format(best_selling_jp.iloc[0,0]))

The best selling platform in NA is X360
The best selling platform in EU is Wii
The best selling platform in JP is DS